# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.cpp text
*.cxx text
*.c++ text
*.c text
*.h text
*.json text

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
*.sln text eol=crlf
*.vcproj text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.vsprops text eol=crlf
build/msvs/* eol=crlf

# Denote all files that are truly binary and should not be modified.
*.ktx binary
*.jpg binary
*.lib binary
*.png binary
*.pspimage binary

# Force line endings for unix shell scripts and other specific files
tests/toktx-tests eol=lf
expandkw eol=lf
.ktx-stamp eol=lf
GNUmakefile eol=lf

# Keyword expansion
GNUmakefile ident
TODO.md filter=kwexpander
include/ktx.h filter=kwexpander ident
lib/*.[ch] ident
lib/*.cxx ident
tests/loadtests/common/at.[ch] ident
tests/loadtests/common/egltowgl.c ident
tests/loadtests/gles1/*.c ident
tests/loadtests/shader-based/*.c ident
tools/toktx/*.cpp ident
tools/toktx/*.h ident
tools/toktx/toktx.cpp filter=kwexpander ident

# LFS attributes
*.a filter=lfs -text
*.dll filter=lfs -text
*.dylib filter=lfs -text
*.lib filter=lfs -text
*.pdb filter=lfs -text
# Use LFS only on the actual shared object. *.so and
# *.so.? are symbolic links to *.so.?.?.?.
*.so.?.?.? filter=lfs -text
SDL2 filter=lfs -text
