# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.cpp text
*.cxx text
*.c++ text
*.c text
*.h text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.vcproj text eol=crlf
*.vsprops text eol=crlf
build/vc9/* eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary

# Force line endings for specific files
tests/toktx-tests eol=lf

# Keyword expansion
TODO filter=dater
build/vc9/README\ FIRST.txt filter=dater
include/ktx.h filter=dater indent
**/GNUMakefile indent
include/ktx.h filter=dater indent
lib/*.[ch] indent
tests/loadtests/common/at.[ch] indent
tests/loadtests/common/egltowgl.c indent
tests/loadtests/gles1/*.c indent
tests/loadtests/shader-based/*.c indent
tools/toktx/*.cpp indent
tools/toktx/*.h indent
tools/toktx/toktx.cpp filter=dater indent
