# CI build script for Travis.
# See https://docs.travis-ci.com/user/multi-os/ for more info.

language:
  - cpp
  - node_js

matrix:
  include:
    # works on Precise and Trusty
    - os: linux
      addons:
        apt:
          sources:
            - sourceline: 'ppa:ubuntu-toolchain-r/test'
          packages:
            - gcc-7
            - g++-7
      dist: bionic
      env:
        # NB: This must not have the fourth component of the version number.
        - VULKAN_SDK_VER="1.2.141"
      compiler: gcc # clang is tested by macOS build
      services:
        - docker
      sudo: required
      node_js:
        - node
    - os: osx
      env:
        - VULKAN_SDK_VER="1.2.141.1"
        - VULKAN_INSTALL_DIR="/Volumes/vulkansdk-macos-$VULKAN_SDK_VER"
        - VULKAN_SDK="$VULKAN_INSTALL_DIR/macOS"
      compiler: clang
      osx_image: xcode11.4

#env:
  #global:

# Phase 1: Git clone - done automatically.
# Phase 2: Install apt addons.
# Phase 3: Install cache components - Currently not using a cache
# then the following phases:
before_install:
- eval "${MATRIX_EVAL}"
- echo -e "machine github.com\n  login $GITHUB_TOKEN" >> ~/.netrc # Prevent rate limiting on Git LFS.
- cat ~/.netrc
- |
  case "${TRAVIS_OS_NAME:-linux}" in
  linux)
    docker run -dit --name emscripten -v $(pwd):/src trzeci/emscripten:sdk-incoming-64bit bash
    ;;
  esac

install:
- |
  case "${TRAVIS_OS_NAME:-linux}" in
  linux)
    # No need to install git-lfs. It is part of Travis's Bionic environment.
    sudo apt-get -qq update &&
    sudo apt-get -qq install libzstd-dev &&
    sudo apt-get -qq install libsdl2-dev &&
    sudo apt-get -qq install ninja-build &&
    sudo apt-get -qq install doxygen &&
    sudo apt-get -qq install libgl1-mesa-glx libgl1-mesa-dev &&
    sudo apt-get -qq install libvulkan1 libvulkan-dev &&
    sudo apt-get -qq install libassimp4 libassimp-dev &&
    wget -qO - http://packages.lunarg.com/lunarg-signing-key-pub.asc | sudo apt-key add - &&
    sudo wget -qO /etc/apt/sources.list.d/lunarg-vulkan-$VULKAN_SDK_VER-bionic.list http://packages.lunarg.com/vulkan/$VULKAN_SDK_VER/lunarg-vulkan-$VULKAN_SDK_VER-bionic.list &&
    sudo apt update &&
    sudo apt install lunarg-vulkan-sdk
    ;;
  osx)
    brew update > /dev/null &&
    brew install git-lfs &&
    git lfs install &&
    git lfs version &&
    brew install doxygen &&
    # Current directory is .../build/{KhronosGroup,msc-}/KTX-Software. cd to 'build'.
    pushd ../.. &&
    wget -O vulkansdk-macos-$VULKAN_SDK_VER.dmg https://sdk.lunarg.com/sdk/download/$VULKAN_SDK_VER/mac/vulkansdk-macos-$VULKAN_SDK_VER.dmg?Human=true &&
    hdiutil attach vulkansdk-macos-$VULKAN_SDK_VER.dmg &&
    wget -O Packages.dmg http://s.sudre.free.fr/Software/files/Packages.dmg &&
    hdiutil attach Packages.dmg &&
    sudo installer -pkg /Volumes/Packages*/packages/packages.pkg -target / &&
    hdiutil detach /Volumes/Packages* &&
    popd
    ;;
  esac
- pushd ../..
- git clone https://github.com/msc-/gyp
- cd gyp && sudo ./setup.py install && cd ..
- popd

before_script:
  - |
    case "${TRAVIS_OS_NAME:-linux}" in
    linux)
      ;;
    osx)
      # Pull just the mac/ios files and images to save time. git clone
      # was done before any code we control so before we could install
      # git-lfs. Therefore we have to pull the files stored in git LFS.
      git lfs pull --include=other_lib/mac,other_lib/ios,tests/testimages &&
      sudo cp -r other_lib/mac/Release/SDL2.framework /Library/Frameworks
      ;;
    esac
  # Make sure embedded dates are correct.
  - ./install-gitconfig.sh
  - rm TODO.md lib/mainpage.md pkgdoc/pages.md tools/toktx/toktx.cc
  - git checkout TODO.md lib/mainpage.md pkgdoc/pages.md tools/toktx/toktx.cc

script:
- |
  case "${TRAVIS_OS_NAME:-linux}" in
  linux)
    cmake . -G Ninja -Bbuild-linux-debug -DCMAKE_BUILD_TYPE=Debug &&
    cmake --build build-linux-debug &&
    cmake . -G Ninja -Bbuild-linux-release -DCMAKE_BUILD_TYPE=Release -DKTX_FEATURE_DOC=ON &&
    cmake --build build-linux-release &&
    cmake --build build-linux-debug --target test &&
    cmake --build build-linux-release --target test &&
    docker exec -it emscripten sh -c "emcmake . -Bbuild-web-debug && cmake --build build-web-debug --config Debug" &&
    docker exec -it emscripten sh -c "emcmake . -Bbuild-web-release && cmake --build build-web-release --config Release"
    ;;
  osx)
    # Due to the spaces in the platform names, must use array variables so
    # destination args can be expanded to a single word.
    OSX_XCODE_OPTIONS=(-alltargets -destination "platform=OS X,arch=x86_64")
    IOS_XCODE_OPTIONS=(-alltargets -destination "generic/platform=iOS" -destination "platform=iOS Simulator,OS=latest")
    XCODE_CODESIGN_ENV='CODE_SIGN_IDENTITY= CODE_SIGN_ENTITLEMENTS= CODE_SIGNING_REQUIRED=NO CODE_SIGNING_ALLOWED=NO'
    # The following and more is needed if you want to actually sign the code.
    # See http://stackoverflow.com/questions/27671854/travis-ci-fails-to-build-with-a-code-signing-error.
    #KEY_CHAIN=xcode-build.keychain
    #security create-keychain -p travis $KEY_CHAIN
    # Make the keychain the default so identities are found
    #security default-keychain -s $KEY_CHAIN
    ## Unlock the keychain
    #security unlock-keychain -p travis $KEY_CHAIN
    ## Set keychain locking timeout to 3600 seconds
    #security set-keychain-settings -t 3600 -u $KEY_CHAIN
    cmake -GXcode -Bbuild-macos -DKTX_FEATURE_DOC=ON &&
    cmake --build build-macos --config Debug &&
    cmake --build build-macos --config Debug --target RUN_TESTS &&
    cmake --build build-macos --config Release &&
    cmake --build build-macos --config Release --target RUN_TESTS &&
    cmake -GXcode -Bbuild-ios -DCMAKE_SYSTEM_NAME=iOS &&
    cmake --build build-ios --config Debug &&
    cmake --build build-ios --config Release
    ;;
    esac

# See if this helps with truncated logs.
after_script:
 - sleep 10

# Errors in something run in after_success: don't cause the build to fail so don't use. 

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  local-dir: build/docs/html
  on:
    branch: master
    condition: $TRAVIS_OS_NAME = osx
    #tags: true

# vim:ai:ts=4:sts=2:sw=2:expandtab
