<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleGetInfoString</key>
    <string>View KTX textures displayed via Vulkan.</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>vkloadtests</string>
    <key>CFBundleExecutable</key>
    <string>vkloadtests</string>
    <key>CFBundleIconFile</key>
    <string>ktx_app.icns</string>
    <key>CFBundleIdentifier</key>
    <string>org.khronos.ktx.vkloadtests</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>vkloadtests</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string></string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>LSIsAppleDefaultForType</key>
            <!-- A previously installed "Default" handler wins over this
                 unless this is set to true. Leave it false and let user
                 choose. -->
            <false/>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>CFBundleTypeIconFile</key>
            <string>ktx_document.icns</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.ktx2</string>
                <string>public.ktx</string>
            </array>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>ktx</string>
                <string>ktx2</string>
            </array>
            <key>CFBundleTypeMIMETypes</key>
            <array>
                <string>image/ktx</string>
                <string>image/ktx2</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>KTX texture file</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSTypeIsPackage</key>
            <false/>
        </dict>
    </array>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.graphics-design</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSMainNibFile</key>
    <string></string>
    <key>UISupportedInterfaceOrientations</key>
    <array/>
</dict>
</plist>
