# Copyright 2015-2020 The Khronos Group Inc.
# SPDX-License-Identifier: Apache-2.0
name: KTX-Software CI

on:
  # Trigger the workflow on pull request,
  # but only for the master branch
  pull_request:
    branchs:
      - master
    paths-ignore:
      - .appveyor.yml
      - .travis.yml

  # Also trigger on push of release tags
  push:
    tags:
      - "v*.*.*"

  # Allow manual trigger
  workflow_dispatch:

jobs:
  windows-arm64:
    runs-on: windows-latest
    strategy:
      matrix:
        options: [
          {config: 'Debug,Release', package: YES, tools: ON, docs: ON},
        ]
    env:
      # Skip downloading necessities for the load tests and source and golden
      # images for the other tests since we can't run arm64 tests on the x64
      # build host.
      GIT_LFS_SKIP_SMUDGE: 1

      BUILD_DIR: "build/build-batch-vs2022"
      CONFIGURATION: "${{matrix.options.config}}"
      CMAKE_GEN: "Visual Studio 17 2022" # Only VS version on Windows Server 2022
      CMAKE_TOOLSET: "ClangCL"

      PACKAGE: ${{matrix.options.package}}
      FEATURE_TOOLS: ${{matrix.options.tools}}
      FEATURE_DOC: ${{matrix.options.docs}}

      PLATFORM: "arm64"
      SUPPORT_SSE: OFF

      # No tests on arm64 since the host is x64 and can't run the built tests
      FEATURE_JNI: OFF # Not sure of the state of JNI on arm64 windows
      FEATURE_PY: ${{matrix.options.package}}
      FEATURE_TESTS: OFF
      FEATURE_LOADTESTS: OFF

      CERT_PK_PASS: ${{ secrets.CERT_PK_PASS }}
      CERT_DC_SECRET: ${{ secrets.CERT_DC_SECRET }}
      CERT_DC_SALT: ${{ secrets.CERT_DC_SALT }}

    steps:
    - uses: actions/checkout@v3
      with:
        # Fetch all history to make sure tags are
        # included (used for version creation)
        fetch-depth: 0

    - name: Force fetch provoking tag's annotation.
      # Work around https://github.com/actions/checkout/issues/290.
      if: github.ref_type == 'tag'
      run: git fetch -f origin ${{ github.ref }}:${{ github.ref }}

    # Need doxygen if docs are supposed to be built
    # Use the pre-installed `choco`. Although it's v1 it works. Do not
    # do `uses: crazy-max/ghaction-chocolatey@v2` because it suffers
    # frequent failures due to Chocolatey attempts to blackmail you
    # into purchasing a license. If this does fail, re-run the build.
    - name: Install Doxygen
      if: matrix.options.docs == 'ON'
      run: choco install doxygen.install

    - name: Install Certificate File Decryption Tool
      if: matrix.options.package == 'YES'
      run: iex ((New-Object Net.WebClient).DownloadString('https://raw.githubusercontent.com/appveyor/secure-file/master/install.ps1'))

    - name: Import Certificate to Certificate Store
      if: matrix.options.package == 'YES'
      id: cert-import
      run: |
        if ($env:CERT_PK_PASS) {
          $cert_file = "the_khronos_group_inc.p12"
          appveyor-tools\secure-file -decrypt "${cert_file}.enc" -secret $env:CERT_DC_SECRET -salt $env:CERT_DC_SALT
          certutil -p $env:CERT_PK_PASS -importpfx My $cert_file NoExport
          rm $cert_file
          echo "::set-output name=win_code_sign_identity::'The Khronos Group Inc'"
          echo "::set-output name=win_cs_cert_search_machine_store::'ON'"
        } else {
          echo "::set-output name=win_code_sign_identity::''"
          echo "::set-output name=win_cs_cert_search_machine_store::'OFF'"
        }

    - name: Build arm64 Windows
      run: powershell ./ci_scripts/build_win.ps1
      env:
        WIN_CODE_SIGN_IDENTITY: ${{ steps.cert-import.outputs.win_code_sign_identity }}
        WIN_CS_CERT_SEARCH_MACHINE_STORE: ${{ steps.cert-import.outputs.win_cs_cert_search_machine_store }}

    - name: Get KTX version
      if: matrix.options.package == 'YES'
      id: ktx-version
      run: |
        $env:KTX_VERSION = Get-Content $env:BUILD_DIR/ktx.version
        echo "::set-output name=ktx-version::$env:KTX_VERSION"

    - name: Upload Artifact
      if: matrix.options.package == 'YES'
      uses: actions/upload-artifact@v2
      with:
        name: KTX-Software-${{ steps.ktx-version.outputs.ktx-version }}-Windows-arm64
        path: ${{env.BUILD_DIR}}/KTX-Software-*.exe*

    - name: Upload Python distributions
      if: matrix.options.package == 'YES'
      uses: actions/upload-artifact@v2
      with:
        name: pyktx
        path: interface/python_binding/dist/**

    - name: Upload To Release
      uses: softprops/action-gh-release@v1
      if: matrix.options.package == 'YES' && github.event_name == 'push' && github.ref_type == 'tag'
      with:
        draft: true
        prerelease: true
        files: |
          ${{env.BUILD_DIR}}/KTX-Software-*.exe*
          interface/python_binding/dist/**
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  mingw:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
      with:
        # Fetch all history to make sure tags are
        # included (used for version creation)
        fetch-depth: 0
    - uses: seanmiddleditch/gha-setup-ninja@v3
    - uses: Honeybunch/setup-mingw@v3
    - name: Force update provoking tag
      # Work around https://github.com/actions/checkout/issues/290.
      if: github.ref_type == 'tag'
      run: git fetch -f origin ${{ github.ref }}:${{ github.ref }}
    - name: Pull test images from Git LFS
      run: git lfs pull --include=tests/srcimages,tests/testimages
    - name: Configure Mingw x64
      run: cmake -B build -G "Ninja Multi-Config" -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++
    - name: Build Mingw x64 Debug
      run: cmake --build build --config Debug
    - name: Build Mingw x64 Release
      run: cmake --build build --config Release
    - name: Test Mingw build
      run: ctest --test-dir build -C Release
    - name: Upload test log
      if: ${{ failure() }}
      run: ci_scripts/on_failure.ps1

  linux:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        # Fetch all history to make sure tags are
        # included (used for version creation)
        fetch-depth: 0
    - uses: seanmiddleditch/gha-setup-ninja@v3

    - uses: nttld/setup-ndk@v1
      id: setup-ndk
      with:
        ndk-version: r21e
        add-to-path: false

    - name: Force fetch provoking tag's annotation.
      # Work around https://github.com/actions/checkout/issues/290.
      if: github.ref_type == 'tag'
      run: git fetch -f origin ${{ github.ref }}:${{ github.ref }}

    - name: android_Debug_arm64-v8a
      run: ./ci_scripts/build_android_debug.sh
      env:
        ANDROID_ABI: arm64-v8a
        ANDROID_NDK: ${{ steps.setup-ndk.outputs.ndk-path }}
        ASTC_ISA: "ISA_NEON=ON"
        CONFIGURATION: Debug

    - name: android_arm64-v8a
      run: ./ci_scripts/build_android.sh
      env:
        ANDROID_ABI: arm64-v8a
        ANDROID_NDK: ${{ steps.setup-ndk.outputs.ndk-path }}
        ASTC_ISA: "ISA_NEON=ON"

    # Android ABI x86 is obsolete
    # and not supported by ARM ASTC encoder

    # - name: android_x86
    #   run: ./ci_scripts/build_android.sh
    #   env:
    #     ANDROID_ABI: x86
    #     ANDROID_NDK: ${{ steps.setup-ndk.outputs.ndk-path }}

    - name: android_x86_64
      run: ./ci_scripts/build_android.sh
      env:
        ANDROID_ABI: x86_64
        ANDROID_NDK: ${{ steps.setup-ndk.outputs.ndk-path }}

    - name: get-version
      id: ktx-version
      run: |
        KTX_VERSION=$(cat build-android-arm64-v8a/ktx.version)
        echo "::set-output name=ktx-version::$KTX_VERSION"

    # Android artifact
    # Zips the include and lib dirs installed for each architecture
    # by the preceding steps and uploads the zip.
    - name: upload artifact
      id: upload-artifact
      uses: actions/upload-artifact@v2
      with:
        name: KTX-Software-${{ steps.ktx-version.outputs.ktx-version }}-Android
        path: install-android

    # Make an archive to be deployed.
    # Although the preceding step made an archive, Actions helpfully :-(
    # unarchives the files on download.
    - name: Create zip for deployment.
      if: github.event_name == 'push' && github.ref_type == 'tag'
      run: |
        zip_basename=KTX-Software-${{ steps.ktx-version.outputs.ktx-version }}-Android
        ln -s install-android $zip_basename
        zip -r $zip_basename.zip $zip_basename
        sha1sum $zip_basename.zip > $zip_basename.zip.sha1

    - name: Upload To Release
      uses: softprops/action-gh-release@v1
      if: github.event_name == 'push' && github.ref_type == 'tag'
      with:
        draft: true
        prerelease: true
        files:  KTX-Software-${{ steps.ktx-version.outputs.ktx-version }}-Android.zip*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

